@using ChallengeSuperLiga.Models
@using System.Web.Mvc.Html;
@using ChallengeSuperLiga.Extensions;

@model SocioViewModel


<h4 style="color:white">El promedio de edad de los socios de Racing es de @Model.PromedioEdad</h4>

