@using ChallengeSuperLiga.Models
@using System.Web.Mvc.Html;
@using ChallengeSuperLiga.Extensions;

@model SocioViewModel


<h4 style="color:white">La cantidad de personas registradas es de @Model.CantPersonasRegistradas</h4>

